name: Maven Verify

permissions: { }

on:
  push:
  pull_request:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Verify
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ 25 ]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: "maven"
      - name: Build and Test
        run: |
          ./mvnw clean verify --batch-mode --update-snapshots
